.row {
    padding: 20px;

}

div {
    background-color:#358aff;
    text-align: center;
    font-family: 'Tiro Bangla', serif;

}

h1 {
    font-family: 'Pinyon Script', cursive;
    color: #ff7e57;
}

/*Etiqueta Nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;

}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 750px;
    }
}

@media (max-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 1000px;
    }
}