<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Matias_Vargas.jpg" class="img-fluid" id="fotodeperfil">        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Matias Vargas</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia fugit dolor in possimus veritatis quam dicta! Natus magni, praesentium aliquam deleniti modi labore vitae non, facere beatae debitis facilis.</p>
        </span>
    </div>
</div>